.currentDay{
    border-radius: 10px;
    background-color: rgba(100, 148, 237, 0.808);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.currentDay__title{
    font-size: 25px;
    margin-bottom: 8px;
}
.temperature{
    font-size: 80px;
    text-align: center;
}
.currentDay__flex{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.currentDay_flex__element1{
    margin:  0 0px 40px 20px;
}
.weather{
    text-align: center;
}
.icon{
    margin-right: 20px;
}
.icon i{
    font-size: 60px;
    color: rgb(255, 242, 0);
}