.currentDay{
    border-radius: 10px;
    background-color: rgba(156, 229, 255, 0.808);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.currentDay__title{
    font-size: 37px;
    margin-bottom: 8px;
}
.currentDay__hour{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
}
.currentDay__day{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.temperature{
    font-size: 80px;
    text-align: center;
}
.currentDay__flex{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.currentDay_flex__element1{
    margin:  0 0px 40px 20px;
}
.weather{
    text-align: center;
}
.icon{
    margin-right: 20px;
}
.icon i{
    font-size: 60px;
    color: rgb(255, 242, 0);
}
.currentDay__info{
    margin-bottom: 20px;
}
.moreInfo{
    margin-left: 30px;
}
.moreInfo_p{
    margin-bottom: 10px;
}