.header{
    background-color: rgba(100, 148, 237, 0.808);
    border-radius: 10px;
}
.header__title{
    background-color: aqua;
    width: 100%;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.header__content{
    padding: 15px;
    align-content: center;
    padding-top: 2;
    
}
.header_content__search{
    display: flex;
}
.header_content__title{
    font-family: 'Heebo', sans-serif;
    margin-bottom: 5px;
}
.header_content_search__input{
    border-radius: 20px;
    border: none;
    flex: 4;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.header_content_search__btn{
    flex: 1;
    text-align: center;
}

