@media only screen and (min-width: 600px) {
    header,
    main{
      width: 600px;
      margin: auto;
    }
    main{
        margin-top: 10px;
    }
    ::-webkit-scrollbar {
        width: 20px;
    }
  }