.nextDays{
    overflow-x: scroll;
    display: flex;
    margin-top: 10px;
}
.nextDays__element{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(213, 224, 243, 0.808);
    margin-right: 10px;
    text-align: center;
    min-width: 130px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.nextDays_element__title{
    font-size: 20px;
}
.nextDays_element__number{
    font-size: 50px;
}
.nextDays_element__data{
    display: flex;
}
.nextDayselement_data__photo{
    flex: 1;
}
.nextDayselement_data__photo img{
    width: 100%;
}
.nextDays_element_data__content{
    flex: 1;
}

.nextDays_element_data_content_humedad__icon{
    width: 20%;
}
.inline-block{
    display: inline-block;

}